classes/production/Feed/entry.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Entry">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="content">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:documentation>Max length must be less then 1024</xs:documentation>
                        </xs:annotation>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0"/>
                            <xs:maxLength value="1024"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element type="xs:string" name="creationDate">
                    <xs:annotation>
                        <xs:documentation>Date</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>